.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.station-items {
  border: 1px solid;
  padding: 10px 10px 10px 10px; 
}

.station {
  float: left;
  margin: 1rem 1rem 1rem 1rem;
}

.station-item {
  text-align: left;
  font-size: 80%;
}

.item-grab-button {
  float: right;
  margin-top: 8px;
  margin-left: 1em;
}

.posbtn-here {
  font-size: 50%;
  color: aquamarine;
}